services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: sinpapel
      POSTGRES_USER: sinpapel
      POSTGRES_PASSWORD: sinpapel
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: .
    env_file:
      - .env
    command: gunicorn -b 0.0.0.0:5000 run:app
    ports:
      - "5000:5000"
    depends_on:
      - postgres

volumes:
  pg_data:
